.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li h3.github::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/github.svg');
    margin-right: .5rem;
}

.project-image{
    width: 15rem;
}

.button-repository{
    background: #55569e;
    border: 1px solid #fff;
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    width: 9rem;
    transition: all ease-in-out .5s;
}

.button-repository:hover{
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
}

@media screen and (min-width: 475px) {
    .project-image{
        width: 22rem;
    }
}